body
  font-size 16px
  font-family 'Roboto'
.inline-block
	display inline-block
.logo
  width 3em
  height auto
  margin-top -1.2em
  margin-right -0.4em
.logo-text
	color #56361D
	font-size 2.5em
	font-weight 200
.navbar
	padding-top 1em
	height 5em
.navbar-default .navbar-nav > li > a
  font-family 'Roboto'
  font-weight 200
	color #fff
.navbar-default .navbar-nav > li > a:hover
  font-family 'Roboto'
  font-weight 200
  color #FF9834
.circular
  width: 300px;
  height: 300px;
  border-radius: 150px;
.full-star
  color #FF9834
.book-item
  background #F8F8F8
  padding 5px
.big-logo
  width 300px
  height auto