template(name='book')
  .container.row
    .col-xs-3
      img(src='http://books.google.com/books/content?id=yxv1LK5gyV4C&printsec=frontcover&img=1&zoom=1&source=gbs_api')
    .col-xs-9
      .row
        .col-xs-12
          h2 1984
          h4 by 
            a(href='#') George Orwell
          .rateit

